.DS_STORE
*.pyc
*.sw?
*.sqlite3
.environment_version
.selenium_log
.coverage*
.noseids
.DS_STORE
horizon/coverage.xml
horizon/nosetests.xml
horizon/pep8.txt
horizon/pylint.txt
horizon/reports
horizon/horizon.egg-info
horizon/.gitreview
horizon/.gitignore
horizon/.venv
horizon/doc/build/
horizon/doc/source/sourcecode
