
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>Customizing Horizon &mdash; Horizon 2014.1 documentation</title>
    
    <link rel="stylesheet" href="../_static/nature.css" type="text/css" />
    <link rel="stylesheet" href="../_static/pygments.css" type="text/css" />
    <link rel="stylesheet" href="../_static/tweaks.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../',
        VERSION:     '2014.1',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../_static/jquery.js"></script>
    <script type="text/javascript" src="../_static/underscore.js"></script>
    <script type="text/javascript" src="../_static/doctools.js"></script>
    <link rel="top" title="Horizon 2014.1 documentation" href="../index.html" />
    <link rel="next" title="Contributing Guide" href="../contributing.html" />
    <link rel="prev" title="Horizon Settings and Configuration" href="settings.html" /> 
  </head>
  <body>
  <div id="header">
    <h1 id="logo"><a href="http://www.openstack.org/">OpenStack</a></h1>
    <ul id="navigation">
      
      <li><a href="http://www.openstack.org/" title="Go to the Home page" class="link">Home</a></li>
      <li><a href="http://www.openstack.org/projects/" title="Go to the OpenStack Projects page">Projects</a></li>
      <li><a href="http://www.openstack.org/user-stories/" title="Go to the User Stories page" class="link">User Stories</a></li>
      <li><a href="http://www.openstack.org/community/" title="Go to the Community page" class="link">Community</a></li>
      <li><a href="http://www.openstack.org/blog/" title="Go to the OpenStack Blog">Blog</a></li>
      <li><a href="http://wiki.openstack.org/" title="Go to the OpenStack Wiki">Wiki</a></li>
      <li><a href="http://docs.openstack.org/" title="Go to OpenStack Documentation" class="current">Documentation</a></li>
      
    </ul>
  </div>
  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            
  <div class="section" id="customizing-horizon">
<h1>Customizing Horizon<a class="headerlink" href="#customizing-horizon" title="Permalink to this headline">¶</a></h1>
<div class="section" id="changing-the-site-title">
<h2>Changing the Site Title<a class="headerlink" href="#changing-the-site-title" title="Permalink to this headline">¶</a></h2>
<p>The OpenStack Dashboard Site Title branding (i.e. &#8220;<strong>OpenStack</strong> Dashboard&#8221;)
can be overwritten by adding the attribute <tt class="docutils literal"><span class="pre">SITE_BRANDING</span></tt>
to <tt class="docutils literal"><span class="pre">local_settings.py</span></tt> with the value being the desired name.</p>
<p>The file <tt class="docutils literal"><span class="pre">local_settings.py</span></tt> can be found at the Horizon directory path of
<tt class="docutils literal"><span class="pre">openstack_dashboard/local/local_settings.py</span></tt>.</p>
</div>
<div class="section" id="changing-the-logo">
<h2>Changing the Logo<a class="headerlink" href="#changing-the-logo" title="Permalink to this headline">¶</a></h2>
<p>The OpenStack Logo is pulled in through <tt class="docutils literal"><span class="pre">style.css</span></tt>:</p>
<div class="highlight-python"><pre>#splash .modal {
    background: #fff url(../images/logo.png) no-repeat center 35px;

h1.brand a {
    background: url(../images/logo.png) top left no-repeat;</pre>
</div>
<p>To override the OpenStack Logo image, replace the image at the directory path
<tt class="docutils literal"><span class="pre">openstack_dashboard/static/dashboard/img/logo.png</span></tt>.</p>
<p>The dimensions should be <tt class="docutils literal"><span class="pre">width:</span> <span class="pre">108px,</span> <span class="pre">height:</span> <span class="pre">121px</span></tt>.</p>
</div>
<div class="section" id="changing-the-brand-link">
<h2>Changing the Brand Link<a class="headerlink" href="#changing-the-brand-link" title="Permalink to this headline">¶</a></h2>
<p>The logo also acts as a hyperlink. The default behavior is to redirect to
<tt class="docutils literal"><span class="pre">horizon:user_home</span></tt>. By adding the attribute <tt class="docutils literal"><span class="pre">SITE_BRANDING_LINK</span></tt> with
the desired url target e.g., <tt class="docutils literal"><span class="pre">http://sample-company.com</span></tt> in
<tt class="docutils literal"><span class="pre">local_settings.py</span></tt>, the target of the hyperlink can be changed.</p>
</div>
<div class="section" id="modifying-existing-dashboards-and-panels">
<h2>Modifying Existing Dashboards and Panels<a class="headerlink" href="#modifying-existing-dashboards-and-panels" title="Permalink to this headline">¶</a></h2>
<p>If you wish to alter dashboards or panels which are not part of your codebase,
you can specify a custom python module which will be loaded after the entire
Horizon site has been initialized, but prior to the URLconf construction.
This allows for common site-customization requirements such as:</p>
<ul class="simple">
<li>Registering or unregistering panels from an existing dashboard.</li>
<li>Changing the names of dashboards and panels.</li>
<li>Re-ordering panels within a dashboard or panel group.</li>
</ul>
<p>To specify the python module containing your modifications, add the key
<tt class="docutils literal"><span class="pre">customization_module</span></tt> to your <tt class="docutils literal"><span class="pre">settings.HORIZON_CONFIG</span></tt> dictionary.
The value should be a string containing the path to your module in dotted
python path notation. Example:</p>
<div class="highlight-python"><div class="highlight"><pre><span class="n">HORIZON_CONFIG</span> <span class="o">=</span> <span class="p">{</span>
    <span class="s">&quot;customization_module&quot;</span><span class="p">:</span> <span class="s">&quot;my_project.overrides&quot;</span>
<span class="p">}</span>
</pre></div>
</div>
<p>You can do essentially anything you like in the customization module. For
example, you could change the name of a panel:</p>
<div class="highlight-python"><div class="highlight"><pre><span class="kn">from</span> <span class="nn">django.utils.translation</span> <span class="kn">import</span> <span class="n">ugettext_lazy</span> <span class="k">as</span> <span class="n">_</span>

<span class="kn">import</span> <span class="nn">horizon</span>

<span class="c"># Rename &quot;User Settings&quot; to &quot;User Options&quot;</span>
<span class="n">settings</span> <span class="o">=</span> <span class="n">horizon</span><span class="o">.</span><span class="n">get_dashboard</span><span class="p">(</span><span class="s">&quot;settings&quot;</span><span class="p">)</span>
<span class="n">user_panel</span> <span class="o">=</span> <span class="n">settings</span><span class="o">.</span><span class="n">get_panel</span><span class="p">(</span><span class="s">&quot;user&quot;</span><span class="p">)</span>
<span class="n">user_panel</span><span class="o">.</span><span class="n">name</span> <span class="o">=</span> <span class="n">_</span><span class="p">(</span><span class="s">&quot;User Options&quot;</span><span class="p">)</span>
</pre></div>
</div>
<p>Or get the instances panel:</p>
<div class="highlight-python"><div class="highlight"><pre><span class="n">projects_dashboard</span> <span class="o">=</span> <span class="n">horizon</span><span class="o">.</span><span class="n">get_dashboard</span><span class="p">(</span><span class="s">&quot;project&quot;</span><span class="p">)</span>
<span class="n">instances_panel</span> <span class="o">=</span> <span class="n">projects_dashboard</span><span class="o">.</span><span class="n">get_panel</span><span class="p">(</span><span class="s">&quot;instances&quot;</span><span class="p">)</span>
</pre></div>
</div>
<p>And limit access to users with the Keystone Admin role:</p>
<div class="highlight-python"><div class="highlight"><pre><span class="n">permissions</span> <span class="o">=</span> <span class="nb">list</span><span class="p">(</span><span class="nb">getattr</span><span class="p">(</span><span class="n">instances_panel</span><span class="p">,</span> <span class="s">&#39;permissions&#39;</span><span class="p">,</span> <span class="p">[]))</span>
<span class="n">permissions</span><span class="o">.</span><span class="n">append</span><span class="p">(</span><span class="s">&#39;openstack.roles.admin&#39;</span><span class="p">)</span>
<span class="n">instances_panel</span><span class="o">.</span><span class="n">permissions</span> <span class="o">=</span> <span class="nb">tuple</span><span class="p">(</span><span class="n">permissions</span><span class="p">)</span>
</pre></div>
</div>
<p>Or just remove it entirely:</p>
<div class="highlight-python"><div class="highlight"><pre><span class="n">projects_dashboard</span><span class="o">.</span><span class="n">unregister</span><span class="p">(</span><span class="n">instances_panel</span><span class="o">.</span><span class="n">__class__</span><span class="p">)</span>
</pre></div>
</div>
<p>You can also override existing methods with your own versions:</p>
<div class="highlight-python"><div class="highlight"><pre><span class="c"># Disable Floating IPs</span>
<span class="kn">from</span> <span class="nn">openstack_dashboard.dashboards.project.access_and_security</span> <span class="kn">import</span> <span class="n">tabs</span>
<span class="kn">from</span> <span class="nn">openstack_dashboard.dashboards.project.instances</span> <span class="kn">import</span> <span class="n">tables</span>

<span class="n">NO</span> <span class="o">=</span> <span class="k">lambda</span> <span class="o">*</span><span class="n">x</span><span class="p">:</span> <span class="bp">False</span>

<span class="n">tabs</span><span class="o">.</span><span class="n">FloatingIPsTab</span><span class="o">.</span><span class="n">allowed</span> <span class="o">=</span> <span class="n">NO</span>
<span class="n">tables</span><span class="o">.</span><span class="n">AssociateIP</span><span class="o">.</span><span class="n">allowed</span> <span class="o">=</span> <span class="n">NO</span>
<span class="n">tables</span><span class="o">.</span><span class="n">SimpleAssociateIP</span><span class="o">.</span><span class="n">allowed</span> <span class="o">=</span> <span class="n">NO</span>
<span class="n">tables</span><span class="o">.</span><span class="n">SimpleDisassociateIP</span><span class="o">.</span><span class="n">allowed</span> <span class="o">=</span> <span class="n">NO</span>
</pre></div>
</div>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p><tt class="docutils literal"><span class="pre">my_project.overrides</span></tt> needs to be importable by the python process running
Horizon.
If your module is not installed as a system-wide python package,
you can either make it installable (e.g., with a setup.py)
or you can adjust the python path used by your WSGI server to include its location.</p>
<p>Probably the easiest way is to add a <tt class="docutils literal"><span class="pre">python-path</span></tt> argument to
the <tt class="docutils literal"><span class="pre">WSGIDaemonProcess</span></tt> line in Apache&#8217;s Horizon config.</p>
<p>Assuming your <tt class="docutils literal"><span class="pre">my_project</span></tt> module lives in <tt class="docutils literal"><span class="pre">/opt/python/my_project</span></tt>,
you&#8217;d make it look like the following:</p>
<div class="last highlight-python"><pre>WSGIDaemonProcess [... existing options ...] python-path=/opt/python</pre>
</div>
</div>
</div>
<div class="section" id="button-icons">
<h2>Button Icons<a class="headerlink" href="#button-icons" title="Permalink to this headline">¶</a></h2>
<p>Horizon provides hooks for customizing the look and feel of each class of
button on the site. The following classes are used to identify each type of
button:</p>
<ul>
<li><dl class="first docutils">
<dt>Generic Classes</dt>
<dd><ul class="first last simple">
<li>btn-search</li>
<li>btn-delete</li>
<li>btn-upload</li>
<li>btn-download</li>
<li>btn-create</li>
<li>btn-edit</li>
<li>btn-list</li>
<li>btn-copy</li>
<li>btn-camera</li>
<li>btn-stats</li>
<li>btn-enable</li>
<li>btn-disable</li>
</ul>
</dd>
</dl>
</li>
<li><dl class="first docutils">
<dt>Floating IP-specific Classes</dt>
<dd><ul class="first last simple">
<li>btn-allocate</li>
<li>btn-release</li>
<li>btn-associate</li>
<li>btn-disassociate</li>
</ul>
</dd>
</dl>
</li>
<li><dl class="first docutils">
<dt>Instance-specific Classes</dt>
<dd><ul class="first last simple">
<li>btn-launch</li>
<li>btn-terminate</li>
<li>btn-reboot</li>
<li>btn-pause</li>
<li>btn-suspend</li>
<li>btn-console</li>
<li>btn-log</li>
</ul>
</dd>
</dl>
</li>
<li><dl class="first docutils">
<dt>Volume-specific classes</dt>
<dd><ul class="first last simple">
<li>btn-detach</li>
</ul>
</dd>
</dl>
</li>
</ul>
<p>Additionally, the site-wide default button classes can be configured by
setting <tt class="docutils literal"><span class="pre">ACTION_CSS_CLASSES</span></tt> to a tuple of the classes you wish to appear
on all action buttons in your <tt class="docutils literal"><span class="pre">local_settings.py</span></tt> file.</p>
</div>
<div class="section" id="custom-stylesheets">
<h2>Custom Stylesheets<a class="headerlink" href="#custom-stylesheets" title="Permalink to this headline">¶</a></h2>
<p>It is possible to define custom stylesheets for your dashboards. Horizon&#8217;s base
template <tt class="docutils literal"><span class="pre">horizon/templates/base.html</span></tt> defines multiple blocks that
can be overridden.</p>
<p>To define custom css files that apply only to a specific dashboard, create
a base template in your dashboard&#8217;s templates folder, which extends Horizon&#8217;s
base template e.g. <tt class="docutils literal"><span class="pre">openstack_dashboard/dashboards/my_custom_dashboard/</span>
<span class="pre">templates/my_custom_dashboard/base.html</span></tt>.</p>
<p>In this template, redefine <tt class="docutils literal"><span class="pre">block</span> <span class="pre">css</span></tt>. (Don&#8217;t forget to include
<tt class="docutils literal"><span class="pre">_stylesheets.html</span></tt> which includes all Horizon&#8217;s default stylesheets.):</p>
<div class="highlight-python"><pre>{% extends 'base.html' %}

{% block css %}
  {% include "_stylesheets.html" %}

  {% load compress %}
  {% compress css %}
  &lt;link href='{{ STATIC_URL }}my_custom_dashboard/less/my_custom_dashboard.less' type='text/less' media='screen' rel='stylesheet' /&gt;
  {% endcompress %}
{% endblock %}</pre>
</div>
<p>The custom stylesheets then reside in the dashboard&#8217;s own <tt class="docutils literal"><span class="pre">static</span></tt> folder
<tt class="docutils literal"><span class="pre">openstack_dashboard/dashboards/my_custom_dashboard/static/</span>
<span class="pre">my_custom_dashboard/less/my_custom_dashboard.less</span></tt>.</p>
<p>All dashboard&#8217;s templates have to inherit from dashboard&#8217;s base.html:</p>
<div class="highlight-python"><pre>{% extends 'my_custom_dashboard/base.html' %}
...</pre>
</div>
</div>
<div class="section" id="custom-javascript">
<h2>Custom Javascript<a class="headerlink" href="#custom-javascript" title="Permalink to this headline">¶</a></h2>
<p>Similarly to adding custom styling (see above), it is possible to include
custom javascript files.</p>
<p>All Horizon&#8217;s javascript files are listed in the <tt class="docutils literal"><span class="pre">horizon/_scripts.html</span></tt>
partial template, which is included in Horizon&#8217;s base template in <tt class="docutils literal"><span class="pre">block</span> <span class="pre">js</span></tt>.</p>
<p>To add custom javascript files, create an <tt class="docutils literal"><span class="pre">_scripts.html</span></tt> partial template in
your dashboard <tt class="docutils literal"><span class="pre">openstack_dashboard/dashboards/my_custom_dashboard/</span>
<span class="pre">templates/my_custom_dashboard/_scripts.html</span></tt> which extends
<tt class="docutils literal"><span class="pre">horizon/_scripts.html</span></tt>. In this template override the
<tt class="docutils literal"><span class="pre">block</span> <span class="pre">custom_js_files</span></tt> including your custom javascript files:</p>
<div class="highlight-python"><pre>{% extends 'horizon/_scripts.html' %}

{% block custom_js_files %}
    &lt;script src='{{ STATIC_URL }}my_custom_dashboard/js/my_custom_js.js' type='text/javascript' charset='utf-8'&gt;&lt;/script&gt;
{% endblock %}</pre>
</div>
<p>In your dashboard&#8217;s own base template <tt class="docutils literal"><span class="pre">openstack_dashboard/dashboards/</span>
<span class="pre">my_custom_dashboard/templates/my_custom_dashboard/base.html</span></tt> override
<tt class="docutils literal"><span class="pre">block</span> <span class="pre">js</span></tt> with inclusion of dashboard&#8217;s own <tt class="docutils literal"><span class="pre">_scripts.html</span></tt>:</p>
<div class="highlight-python"><pre>{% block js %}
    {% include "my_custom_dashboard/_scripts.html" %}
{% endblock %}</pre>
</div>
<p>The result is a single compressed js file consisting both Horizon and
dashboard&#8217;s custom scripts.</p>
<p>Additionally, some marketing and analytics scripts require you to place them
within the page&#8217;s &lt;head&gt; tag. To do this, place them within the
<tt class="docutils literal"><span class="pre">horizon/_custom_head_js.html</span></tt> file. Similar to the <tt class="docutils literal"><span class="pre">_scripts.html</span></tt> file
mentioned above, you may link to an existing file:</p>
<div class="highlight-python"><pre>&lt;script src='{{ STATIC_URL }}/my_custom_dashboard/js/my_marketing_js.js' type='text/javascript' charset='utf-8'&gt;&lt;/script&gt;</pre>
</div>
<p>or you can paste your script directly in the file, being sure to use
appropriate tags:</p>
<div class="highlight-python"><pre>&lt;script type="text/javascript"&gt;
//some javascript
&lt;/script&gt;</pre>
</div>
</div>
<div class="section" id="customizing-meta-attributes">
<h2>Customizing Meta Attributes<a class="headerlink" href="#customizing-meta-attributes" title="Permalink to this headline">¶</a></h2>
<p>To add custom metadata attributes to your project&#8217;s base template, include
them in the <tt class="docutils literal"><span class="pre">horizon/_custom_meta.html</span></tt> file. The contents of this file will be
inserted into the page&#8217;s &lt;head&gt; just after the default Horizon meta tags.</p>
</div>
</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar">
        <div class="sphinxsidebarwrapper">
            <h3><a href="../index.html">Table Of Contents</a></h3>
            <ul>
<li><a class="reference internal" href="#">Customizing Horizon</a><ul>
<li><a class="reference internal" href="#changing-the-site-title">Changing the Site Title</a></li>
<li><a class="reference internal" href="#changing-the-logo">Changing the Logo</a></li>
<li><a class="reference internal" href="#changing-the-brand-link">Changing the Brand Link</a></li>
<li><a class="reference internal" href="#modifying-existing-dashboards-and-panels">Modifying Existing Dashboards and Panels</a></li>
<li><a class="reference internal" href="#button-icons">Button Icons</a></li>
<li><a class="reference internal" href="#custom-stylesheets">Custom Stylesheets</a></li>
<li><a class="reference internal" href="#custom-javascript">Custom Javascript</a></li>
<li><a class="reference internal" href="#customizing-meta-attributes">Customizing Meta Attributes</a></li>
</ul>
</li>
</ul>

            <h4>Previous topic</h4>
            <p class="topless"><a href="settings.html"
                                  title="previous chapter">Horizon Settings and Configuration</a></p>
            <h4>Next topic</h4>
            <p class="topless"><a href="../contributing.html"
                                  title="next chapter">Contributing Guide</a></p>
            <h3>This Page</h3>
            <ul class="this-page-menu">
              <li><a href="../_sources/topics/customizing.txt"
                     rel="nofollow">Show Source</a></li>
            </ul>
          <div id="searchbox" style="display: none">
            <h3>Quick search</h3>
              <form class="search" action="../search.html" method="get">
                <input type="text" name="q" size="18" />
                <input type="submit" value="Go" />
                <input type="hidden" name="check_keywords" value="yes" />
                <input type="hidden" name="area" value="default" />
              </form>
              <p class="searchtip" style="font-size: 90%">
              Enter search terms or a module, class or function name.
              </p>
          </div>
          <script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li class="right" >
          <a href="../py-modindex.html" title="Python Module Index"
             >modules</a> |</li>
        <li class="right" >
          <a href="../contributing.html" title="Contributing Guide"
             accesskey="N">next</a> |</li>
        <li class="right" >
          <a href="settings.html" title="Horizon Settings and Configuration"
             accesskey="P">previous</a> |</li>
        <li><a href="../index.html">Horizon 2014.1 documentation</a> &raquo;</li> 
      </ul>
    </div>
    <div class="footer">
        &copy; Copyright 2012, OpenStack Foundation.
      Last updated on Tue Mar 11 04:36:31 2014, commit 1b0106e.
      Created using <a href="http://sphinx.pocoo.org/">Sphinx</a> 1.1.3.
    </div>
  </body>
</html>